body {
    background-color: #a3a3a3;
    /** body에 배경이미지 적용 */
    background-image: url("../static/images/pattern.png");
    /** 고정된 사이즈로 설정 */
    background-size: 100px;
  
    /** 기본 body 사이즈를 화면 크기로 고정 */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-family: 'Noto Serif KR', serif;
  }
  
  .bookcover {
    /** 배경 색깔 지정  */
    background-color: #b4d1da;
    /** 모서리 둥글게 */
    border-radius: 9px;
    /** 윤곽선 */
    border: 1px solid #738186;
  
    /** 기본 너비, 높이 지정 (반응형 X) */
    width: 860px;
    height: 560px;
  
    /** 좌우 마진을 auto(중앙에 배치), 상하 마진을 100px로 지정 */
    margin: 100px auto;
  
    /** .bookdot 요소에서 absolute 속성값을 이용하기 위해 position: relative 로 설정 */
    position: relative;
  }

  .bookdot{
    border-radius: 9px;
    border: 2px dashed white;
    width: 835px;
    height: 535px;
    margin: 10px;
    position: absolute;
 }
 .page{
    background-color: #e6e6e6;
    border-radius: 9px;
    border: 2px solid #e4e1e1;
    width: 810px;
    height: 510px;
    margin: 10px;
    position: absolute;
 }

 .container{
     padding: 10px;
     width: 790px;
     height: 490px;
     display: flex;

 }

 .menu_list{
     flex: 1;
     border: 1px solid rgb(165, 165, 165);

 }

 .content_layout{
     flex: 9;
     display: flex;
     flex-direction: column;

 }

 .status_bar {
     display: flex;
     font-size: small;
     flex:0.7

 }

 .body_content {
     display: flex;
     flex: 9;
    
    

 }
 
 .body_item1 {
     flex: 1.5;
     display: flex;
     flex-direction: column;
     margin-right: 20px;
     border-radius: 9px;
     background-color: white;
     justify-content: space-between;
     align-items: center;
     padding: 30px;
     

 }

 .body_item2{
    flex: 4;
    border-radius: 9px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;

 }

 .status {
     flex: 3;
     text-align: center;

 }

 .my_title{
    flex: 5;
    margin-left: 20px;


 }

 .my_url{
    flex: 1;
    text-align: end;
 }

 .profile_img{
     flex: 2;
     text-align: center;
 }
 .profile_img img{
     width: 100%;
     margin-bottom: 20px;
 }

 .profile_info{
     flex: 7;
     font-size: 10px;

 }

 .item1{
     display: flex;
     flex-direction: column;
     flex: 2;
 }


 

 .item1_container{
    display: flex;
    flex: 4;

 }

 .item1_menu{
    display: flex;
    flex: 1;
    padding-left: 80px;
    padding-right: 80px;
    flex-direction: column;
 }